<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>

<%= form_for([:admin, @promo_slot]) do |f| %>
  <% if @promo_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promo_slot.errors.count, "error") %> prohibited this promo_slot from being saved:</h2>

      <ul>
      <% @promo_slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div data-hook="add_product_name" class="field twelve columns alpha">
    <%= label_tag :variant_id, Spree.t(:name_or_sku) %>
    <%= f.hidden_field :variant_id, :class => "variant_autocomplete fullwidth" %>
  </div>

  <div class="field">
    <%= f.label :slot_type_id %><br />
    <%= f.select :slot_type_id, options_for_select(Spree::SlotType.all.map{|st| [st.name, st.id]}) %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :link_url %><br />
    <%= f.text_field :link_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
