<h1>Listing Promo Slots</h1>
<br />
<table class="index sortable" id="listing_promo_slots" data-sortable-link="<%= update_positions_admin_promo_slots_url() %>">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Slot type</th>
    <th></th>
    <th></th>
  </tr>

<% @promo_slots.each do |promo_slot| %>
  <tr id="<%= spree_dom_id promo_slot %>" data-hook="admin_promo_slots_index_rows" class="<%= cycle('odd', 'even') %>">
    <td class="no-border">
      <span class="handle"></span>
    </td>
    <td><%= promo_slot.title %></td>
    <td><%= promo_slot.slot_type.name %></td>
    <td><%= link_to 'Edit', edit_admin_promo_slot_path(promo_slot) %></td>
    <td><%= link_to 'Destroy', admin_promo_slot_path(promo_slot), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promo slot', new_admin_promo_slot_path %>