<h1>Listing promo_slots</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Slot type</th>
    <th>Title</th>
    <th>Description</th>
    <th>Link url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promo_slots.each do |promo_slot| %>
  <tr>
    <td><%= promo_slot.product_id %></td>
    <td><%= promo_slot.slot_type %></td>
    <td><%= promo_slot.title %></td>
    <td><%= promo_slot.description %></td>
    <td><%= promo_slot.link_url %></td>
    <td><%= link_to 'Show', promo_slot %></td>
    <td><%= link_to 'Edit', edit_promo_slot_path(promo_slot) %></td>
    <td><%= link_to 'Destroy', promo_slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promo slot', new_promo_slot_path %>
